  .topnav {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    padding-bottom: 50px;
}

.topnav img {
    height: 75px; 
    width: auto; 
}

.nav-links, .right-links {
    display: flex; 
    align-items: center;
    
}

.topnav a {
    margin-left: 10px; 
    text-decoration: none; 
    color: black; 
    font-family: 'Martian Mono';
    font-size: var(--font-size-links);
    font-weight: var(--standard-font-weight);
    text-transform: uppercase;

}

.right-links {
    margin-left: auto;
}

.hamburger {
    display: none; 
    font-size: 30px; 
    cursor: pointer; 
    margin-left: auto; 
}

.mobile-menu {
    display: none; 
}

@media (max-width: 768px) {
    .topnav {
        flex-direction: row; 
        justify-content: space-between; 
        padding-bottom: 30px;
    }

    .nav-links,
    .right-links {
        display: none; 
    }

    .hamburger {
        display: block; 
    }

    .mobile-menu {
        flex-direction: column; 
        width: 100%; 
        text-align: left; 
        background-color: #f8f8f8; 
        padding: 10px 0; 
        display: none; 
    }

    .mobile-menu.active {
        display: flex; 
    }

    .mobile-menu a {
        padding: 10px; 
        text-decoration: none; 
        color: black; 
        display: block; 
        border-bottom: 1px solid #ddd; 
    }
}

.hero{
    text-align: center;
    h1 {
        font-size: var(--font-size-l); /* Kleinere schermen */
    }

    p {
        font-size: var(--font-size-paragraph);
        margin: 0 auto;
        padding: 10px; 
    }

    a {
        font-size: var(--font-size-paragraph);
        color: black;
    }
}

@media (min-width: 768px) {
    .hero{
        padding-top: 20px;
        h1 {
            font-size: var(--font-size-xxl); /* Grotere schermen */
        }
        p {
            font-size: var(--font-size-paragraph);
        }
    }
}

  .filter {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Items verdeeld over de volledige breedte */
    flex-wrap: wrap; /* Laat de items wrappen indien nodig */
    margin-bottom: 20px;
    padding: 10px;
}

@media (max-width: 768px) {
    .filter {
        flex-direction: column; /* Zet de filter items onder elkaar */
        justify-content: center; /* Centreer items horizontaal */
        align-items: center; /* Centreer items verticaal */
        padding: 10px;
    }

    .filter ul {
        justify-content: center; /* Centreer de lijst met filters */
        width: 100%; /* Laat de lijst de volledige breedte gebruiken */
        text-align: center; /* Zorg ervoor dat de tekst ook gecentreerd is */
    }

    .filter li {
        margin-right: 0; /* Verwijder eventuele marges tussen de filter items */
        margin-bottom: 10px; /* Voeg een kleine marge aan de onderkant toe */
        text-align: center; /* Centreer de tekst in elke filter */
    }

    #search-input {
        width: 100%; /* Zorg ervoor dat de zoekbalk de volledige breedte heeft */
        margin-bottom: 10px; /* Voeg wat ruimte onder de zoekbalk toe */
        text-align: center;
    }
}


.filter #search-input {
    flex-wrap: wrap;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: 1px solid black;
  
}

.filter ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: auto; 
    flex-wrap: wrap;

    @media (min-width: 768px) {
        padding: 8px;
        flex: 1 1 1 100% ;
    }

    li {
        padding: 10px 20px;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        white-space: nowrap;
        position: relative;
        @media (min-width: 768px) {
            padding: 8px;
        }
    }

    .plus-sign{
      position: absolute;
      right: 22px;
      top: 25px;
      padding-right: 10px;
      height: 25%;
      width: 10%;
      background: white;
      pointer-events: none;
    }
}

.filter-element{
  border: 2px solid black;
  font-size: 12px;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  height: 52px;
  width: 149px;
}

.block-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: auto;

  .block {
      border-top: 1px solid black; 
      border-left: 1px solid black; 
      border-right: 1px solid black;
      padding: 5px;
      display: block;
      width: 100%;
      max-width: 100%;
      margin-top: auto;
  }

  img {
      width: 374px;
      height: 416px;
      margin: 0;
      border: 1px solid black;
  }

  .strategy {
      border: 1px solid black;
      padding: 2px 5px; /* Samengevoegde padding */
      max-width: fit-content;
      display: flex;
      flex-direction: row; /* Zorg ervoor dat items horizontaal zijn */
      align-items: center; /* Verticaal centreren */
      flex-wrap: nowrap; 
      font-size: 10px;
      font-family: 'Martian Mono';
  }

  
  a {
      font-family: 'Martian Mono';
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;  
  }
}

@media (max-width: 1024px) {
  .block-container {
      flex-direction: row;
      flex-wrap: wrap;
  }

  .block {
      flex: 1 1 33.33%;    /* Zorgt ervoor dat elk blok 33% van de breedte inneemt */
      max-width: 33.33%;   /* Beperkt de breedte tot 33.33% */
  }

  img{
      width: 374px;
      height: 416px;
      padding: 48px;
      gap: 8px;
  }
}

